
.file-io-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone-container .dropzone{
  width: 66vw;
  height: 50vh;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  padding-left: 150px;
  padding-bottom: 125px;
}